@media (max-width: 767px) {
	.row-cols-4 {
		display: block;
	}

	.col {
		width: 100%;
	}
	.button		{
		font-size: 1em;
		width: 40%;
		height: 40%;
	}
	.card.h-100	{
		padding: 1%;
		border: 1px solid black;
		border-radius: 10px;
		width: 18rem;
		height: 26rem;
		background: linear-gradient(to top, #FFFFFF, #87CEEB);
		margin: 5%;
		opacity: calc(0.7);
	
	}
	.btn	{
		background-color: white;
		color: rgb(15, 2, 2);
		padding: 1%;
		text-align: center;
		text-decoration: none;
		border-radius: 13%;
		margin-right: 10%;
		margin-left: 10%;
		cursor: pointer;
	
	}
	.rounded-btn	{
		border-radius: 10%;
		cursor: pointer;
		height: 5%;
		width: 11%;
		background-color: #a3e0f3;
		border-color: azure;
	}
	.Search input	{
		border: none;
		font-size: 1em;
		height: 20px;
		box-shadow: inset -2px 2px 2px rgba(0,0,0,.1);
		outline: #87CEEB;
		transition: box-shadow .5s ease-in-out;
		width: 200px;
		margin-top: 15px;
	
	}
}

/* Media query for screens between 768px and 992px (tablet) */
@media (min-width: 768px) and (max-width: 991px) {
	.row-cols-4 {
		display: flex;
		flex-wrap: wrap;
	}

	.col {
		width: 50%;
	}
	.button		{
		font-size: 1em;
		width: 10% !important;
		height: 10% !important;
	}
	.rounded-btn	{
		border-radius: 10%;
		cursor: pointer;
		height: 5%;
		width: 11%;
		background-color: #a3e0f3;
	}
	.card.h-100	{
		padding: 1%;
		border: 1px solid black;
		border-radius: 10px;
		width: 18rem;
		height: 26rem;
		background: linear-gradient(to top, #FFFFFF, #87CEEB);
		margin: 5%;
		opacity: calc(0.7);
	
	}
	.btn	{
		background-color: white;
		color: rgb(15, 2, 2);
		padding: 1%;
		text-align: center;
		text-decoration: none;
		border-radius: 13%;
		margin-right: 10%;
		margin-left: 10%;
		cursor: pointer;
	
	}
	.Search input	{
		border: none;
		font-size: 1em;
		height: 20px;
		box-shadow: inset -2px 2px 2px rgba(0,0,0,.1);
		outline: #87CEEB;
		transition: box-shadow .5s ease-in-out;
		width: 300px;
		margin-top: 15px;
	
	}
}

/* Media query for screens larger than 992px (desktop) */
@media (min-width: 992px) {
	.row-cols-4 {
		display: flex;
		flex-wrap: wrap;
	}

	.col {
		width: 25%;
	}
	.button		{
		font-size: 1em;
		width: 10%;
		height: 10%;
	}
	.rounded-btn	{
		display: grid;
		justify-content: center !important;
		border-radius: 10px;
		width: 75px !important;
		height: 38px !important;
		cursor: pointer;
		background-color: #a3e0f3;
		margin: -12.3% 20% 0% 60%;
		font-size: 22px;
		letter-spacing: 2px;
	}
	.card.h-100	{
		padding: 1%;
		border: 1px solid black;
		border-radius: 10px;
		width: 18rem;
		height: 26rem;
		background: linear-gradient(to top, #FFFFFF, #87CEEB);
		margin: 160px 20px 20px 60px;
		opacity: calc(0.7);
	
	}
	.btn	{
		background-color: white;
		color: rgb(15, 2, 2);
		padding: 1%;
		text-align: center;
		text-decoration: none;
		border-radius: 13%;
		margin-right: 10%;
		margin-left: 15%;
		cursor: pointer;
	
	}
	.Search input	{
		display: grid;
		place-items: center;
		border-radius: 10px;
		font-size: 1em;
		height: 40px;
		box-shadow: inset -2px 2px 2px rgba(0,0,0,.1);
		outline: #87CEEB;
		transition: box-shadow .5s ease-in-out;
		width: 480px;
		margin: -4% 70% 10% 32%;
	
	}
}

body	{
	background-image: url('./mountains.jpg');

}
button:hover {
    background-color: #13ccfa;
}
h2	{
	margin: 10% 10% 10% 4%;
	text-align: center;
	font-size: 48px;
}
img	{
	object-fit: cover;
	height: 210px;
	width: 18rem;
	border-radius: 15px;
}