body, h1, h2, p, label, input, textarea {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(hsl(206, 68%, 91%) 0%, #aed7ff 100%); 
    background-attachment: fixed; 
    background-position: 100% center; 
    background-position: center bottom 15%;
    margin: 0;
    padding: 0;
}
label {
    background-color: #0052CC; /* Classic Blue background color */
    color: white; /* Text color */
    padding: 5px;
    border-radius: 5px;
	white-space: nowrap;
}
 
input, textarea {
    background-color: #f2f2f2; /* Light gray background color */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

header {
    background-color: #4e4f65;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

.about-button {
    position: absolute;
    top: 20px;
    right: 120px;
    text-decoration: none;
    background-color: #3e4156;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.about-button + .products-button {
    margin-left: 630px;
}

.products-button:last-child {
    position: absolute;
    top: 46px;
    margin-right: 200;
    margin-top: -26px;
    /* Adjust as needed */
    text-decoration: none;
    background-color: #3e4156;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    font-size: 16px;
    font-weight: normal;
}

.upload-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.timer {
    font-size: 24px;
    color: #FF9900; /* Amazon-like orange color */
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .timer strong {
    font-size: 36px;
    display: block;
  }
  
  .timer span {
    font-size: 18px;
  }
  

.upload-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.upload-form input[type="file"],
.upload-form input[type="datetime-local"],
.upload-form input[type="number"],
.upload-form input[type="text"],
.upload-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.upload-button {
    background-color: #FF6B6B; /* Coral Red background color */
    color: white; /* Text color */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.image-preview {
    margin-top: 10px;
}

#inr-label {
    margin-top: 10px;
}

.preview-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    max-height: 200px;
}
.logo {
    position: absolute;
    top: 9px;
    left: 15px;
    width: 60px; 
    height: auto;
}
.bitnest-text {
    position: absolute;
    top: 30px;
    right: 1325px;
    color: #c5c517;
    font-size: 24px;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
.base-price-input {
    display: flex;
    justify-content: space-between;
}

.input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#base-price-price, #currency {
    margin-top: 10px; 
	width: 90%;
}
#base-price-price	{
	height: 5px;
}

#label1	{
	width: 27%;
	margin-top: 15px;
}
#currency	{
	margin-top: 66px;
	width: 15%;
}
#label2	{
	display: none;
}
#timer-button	{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #dadcdf;
	font-family: 'Roboto', sans-serif;
	background-color: #0052CC;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 18px;
	margin: 40px 0px 20px 250px;

}
.divider {
    border-top: 1px groove #0052CC;
}