/* Style for the product cards container */
#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Style for the product cards */
.product-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    flex: 1 0 18%; /* This will make the cards flexible and ensure there are 5 cards per row */
    max-width: 18%; /* This will ensure the width of the cards does not exceed 18% of the container */
}

.product-card img {
    width: 10%; /* Decrease the image size */
    height: auto;
}

.product-card .product-name {
    font-size: 1.2em;
    margin-top: 20px;
}

.product-card .product-price {
    color: #888;
    margin-top: 10px;
}