body, h1, h2, p, label, input, textarea {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(hsl(206, 68%, 91%) 0%, #aed7ff 100%); 
    background-attachment: fixed; 
    background-position: 100% center; 
    background-position: center bottom 15%;
    margin: 0;
    padding: 0;
}
label {
    background-color: #1c6ae0; /* Classic Blue background color */
    color: white; /* Text color */
    padding: 5px;
    border-radius: 5px;
	white-space: nowrap;
}
 
input, textarea {
    background-color: #f2f2f2; /* Light gray background color */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

header {
    background-color: #333649;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    top: 20px;
    color: #efefde;
    font-size: 24px;
    font-weight: bold;
    font-size: 24px;
}

.about-button {

    position: absolute;
    align-items: right;
    top: 20px;
    right: 210px;
    text-decoration: none;
    background-color: #3e4156;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

.products-button {
    position: absolute;
    align-items: right;
    top: 20px;
    right: 50px;
    text-decoration: none;
    background-color: #3e4156;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}

.upload-form {
    max-width: 700px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.upload-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.upload-form input[type="file"],
.upload-form input[type="datetime-local"],
.upload-form input[type="number"],
.upload-form input[type="text"],
.upload-form textarea {
    display: block;
    width: 97%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.upload-button {
    background-color: #FF6B6B; /* Coral Red background color */
    color: white; /* Text color */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.image-preview {
    margin-top: 10px;
}

#inr-label {
    margin-top: 10px;
}

.preview-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    max-height: 200px;
}
.logo {
    position: absolute;
    top: 9px;
    left: 15px;
    width: 60px; 
    height: auto;
}
.bidnest-text {
    position: absolute;
    top: 20px;
    right: 1190px;
    color: #efefde;
    font-size: 24px;
    font-weight: bold;
}

.base-price-input {
    display: flex;
    justify-content: space-between;
}

.input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#base-price-price, #currency {
    margin-top: 10px; 
	width: 90%;
}
#base-price-price	{
	height: 5px;
}

#label1	{
	width: 27%;
	margin-top: 15px;
}
#currency	{
	margin-top: 66px;
	width: 15%;
}
#label2	{
	display: none;
}

.divider {
    border-top: 1px groove #1c6ae0;
}
.timer {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.timer label {
    margin-right: 10px;
}

.timer input {
    width: 40%;
    height: 6px;
	margin-right: 15%;
	margin-left: 0%;
}
#label3, #label4	{
	width: 60px;
	height: 17px;
}
h1	{
	margin-top: 7px;
	color: yellow;
}

.foot-panel3 {
    background-color: #333649;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}